@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background: #fcf8ed ;
    margin: 0px;
}

header {
    text-align: center;
    padding: 30px 20px 20px;
    color: #050505;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 12px;
    margin: auto;
}

h2 {
    font-size: 1.8rem;
    font-weight: normal;
    margin-top: 8px;
    color: #050505;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

hr {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    width: 200px;
    margin: 15px auto 0;
}

/* navigatsioon */
 
nav ul {
    list-style: none;
    margin-top: 20px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #050505;
    font-size: 1.1rem;
    font-weight: bold;
}

nav a:hover {
    color: #ab8b36;
}

/* bänner pilt */
 
.header-banner {
    width: 1240px;
    height: 420px;
    overflow: hidden;
    margin: 0 auto;
}

.header-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* meist 2 tulpa */

.meist {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
    align-items: start;
    padding: 40px;
    max-width: 1080px;
    margin: auto;
}



.tulp-2 img {
    width: 100%;
    height: auto;
    display: block;
}

p {
    color: #050505;
    line-height: 1.6;
    max-width: 600px;
}


/* animatsiooniga pildid */

.retsepti-pildid {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.retseptid {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    margin: 0 auto;
    width: calc(100vw - 500px);
}

.galerii-image div {
    position: relative;
    width: 220px;
    height: 220px;
}

.galerii-image img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.peidus-tekst {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #45370f;
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0;
    transition: all 0.3s ease;
    margin: 0;
    text-align: center;
}

.galerii-image:hover .peidus-tekst {
    opacity: 1;
}

.galerii-image:hover img {
    opacity: 0.3;
}


/* jalus */

.footer {

    background-color:#b8b7b4;
}

.footer-konteiner {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;

}

.footer-info p {
    font-size: 1rem;
    color: #050505;
}

.social-icon {
    filter: invert(1);
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}


/* mobiilne vaade */
@media (max-width: 600px) {


    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.3rem;
        margin: auto;
    }

    h3 {
        font-size: 0.9rem;
    }

    hr {
        width: 60%;
        margin: 15px auto;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 15px 0 0 0;
    }

    .header-banner {
        width: 100%;
        height: 180px;
    }

    /* Meist section */
    .meist {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .tulp-1 {
        text-align: center;
    }

    .tulp-2 {
        display: none;
    }

    /* Retseptid ja jalus*/

    .footer-konteiner {
        text-align: left;
        display: flex;
    }

    .retsepti-pildid {
        flex-direction: column;
    }


}